<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Listener_main</title>

	<link rel="stylesheet" type="text/css" href="listener.css">

	<style >
		
		.o, .x{
			color: grey;
			fill: grey;
			cursor: pointer;
		}
		.category-container{
			
			width: 100%;
			display: flex;
			flex-direction: column;


		}
		.podcast{						
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		.news{
			text-align: center;
			width: 100%;
		}
		.suggestion{
			height: 95%;
			border: solid;
			border-color: #6699CC ;
			width: 100%;
		}

		.category-button{
			padding: 10px;
			width: 100%;
		}
		


		.category-contents{
			height: 100%;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			
			
		}

		.category-contents>div{
			display: flex;
			padding: 2px;
		}

		

		.category-content h2, .category-content p{
			margin: 0;

		}

		.category-content h2{
			letter-spacing: 1px;
		}




		.suggestion{
			display: flex;
			flex-direction: column;
			
		}
		.suggestion div div{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.suggestion button{
			margin-top: auto;
			margin-bottom: auto;
			display: block;
		}
		

		img{
			height: 50px;
			width: 50px;
			justify-self: start;
			align-self: center;
		}

		.category-contents>div:hover{
			background-color: rgb(125,125,125);
		}



		
	</style>
	
	
</head>
<body style="color:#6699CC" >
	<nav class = "nav_bar">	

		<div class="nav_bar_left">
			<button class="listener" onclick="window.location.href='/listener_main'">Listener</button>
			<button class="dj" onclick="window.location.href='/DJHomepage'">DJ</button>
			<button class="producer"onclick="window.location.href='/ProducerPage'">Producer</button>
		</div>


		<div class="nav_bar_middle"> LISTENER'S PAGE
			
		</div>


		<div class="nav_bar_right"> 
						

			<form name = myForm action='http://localhost:8080/listener_main' onsubmit="return validateForm()" method='POST' >
				<input class="search" type="text" id="search" name="search">
				<input class="sub" type="submit" value="Submit" >
			</form>


			<button onclick="window.location.href='http://localhost:8080/listener_profile'" class="profile" >Profile</button>
		</div>

	</nav>

	<div class = "media_bar">
		<audio controls class="audio_control">
			<source src="mck.mp3" type="audio/mpeg">
		</audio>
	</div>

	<main class = "main_section" style="font-size:25px">

		<div class="content">

			<div class="category-container">
				<h2 style="text-align:center;">All songs</h2>
				<div class="category-contents">
					<% music.forEach ((d) => {%>
						<div class="song" >
							<!-- <img src="/images/Divide_cover.png"> -->
							<div class="category-content">
								<p><b><%= d.title%></b></p>
								<p>by <%= d.artist%></p>
							</div>
						</div>	
					<%})%>
					

				</div>
			</div>
			
			<div class="category-container">
				<h2 style="text-align:center;">Reference playlists</h2>
				<div class="category-contents">

					<% playlist.forEach ((d) => {%>
						<h2><%- d.playlistName%> - <%- d.Djname%></h2>
						<% d.Playlists.forEach ((e) => {%>
						<div class="song" >  
							<!-- <img src="/images/joji.jpg"> -->
							<div class="category-content">
								<p><b><%= e.title%></b></p>
								<p>by <%= e.artist%></p>
							</div>
						</div>
						<%})%>	
					<%})%>
					

				</div>

			</div>

			



			<div style="width: 70%; text-align: center;"> REFERENCE

				<% reference.forEach ((d) => {%>
						

						<div class= "reference" style="display: flex;justify-content: space-around;" >
							<p style="margin-top: auto; margin-bottom: auto; border: solid;width: 200px;text-align: center;"><%= d.ref%></p>

						</div>

					<%})%>
	
			</div>		

			<div class="suggestion"> <b style="text-align: center;">Suggestion</b>
			<ol style="overflow-y: scroll;scrollbar-color :black">

				<% music.forEach ((d) => {%>
					<li>
						<div>
							<div>
								<p><%- d.title%> - <%- d.artist%></p>
								<div>
									<div class="o">
										<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M720-120H320v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h218q32 0 56 24t24 56v80q0 7-1.5 15t-4.5 15L794-168q-9 20-30 34t-44 14ZM240-640v520H80v-520h160Z"/></svg>
									</div>
									<div class="x">
										<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-840h400v520L360-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 1.5-15t4.5-15l120-282q9-20 30-34t44-14Zm480 520v-520h160v520H720Z"/></svg>
									</div>
								</div>
							</div>
						</div>
					</li>	
				<%})%>


				

				
			</ol>
				
			<script >
				window.onload = function(){
					setupLikeButtons();
					song();
					interestButton();

				}
				function interestButton(){
					const artist = [{ref:'Joji', bool: '0'},{ref:'Ed Sheeran', bool: '0'}, {ref:'Heroes & Villains', bool: '0'}, {ref:'Taylor Swift', bool: '0'}]
					const buttons = document.querySelectorAll(".reference")
					const artists = <%- JSON.stringify(reference)%>
					for(let i = 0; i <buttons.length; i++){
						if(artists[i].bool == "1")
						{
							buttons[i].style.color = "green"
						}
						if(artists[i].bool == "0")
						{
							buttons[i].style.color = "#6699CC"
						}
					}

					for(let i = 0; i <buttons.length; i++){
						buttons[i].addEventListener("click", async function (){

							buttons[i].style.color = (buttons[i].style.color=="green")?"#6699CC":"green";
							if(buttons[i].style.color == "green"){
								artists[i].bool = '1';
								console.log(artists[i])

								const res = await fetch('http://localhost:8080/listener_main',{
								method:'POST',
								headers:{"Content-Type": 'application/json'},
								body: JSON.stringify(artists[i])						
								}).then(res => { console.log("Request complete! response:", res)});
							}
							else{
								artists[i].bool = '0';
								console.log(artists[i])

								const res = await fetch('http://localhost:8080/listener_main',{
								method:'POST',
								headers:{"Content-Type": 'application/json'},
								body: JSON.stringify(artists[i])						
								}).then(res => { console.log("Request complete! response:", res)});
							}
							location.reload()

						})
					}


				}
				function setupLikeButtons(){
					const obuttons = document.querySelectorAll(".o");
					const xbuttons = document.querySelectorAll(".x");

					const allsong = <%- JSON.stringify(music)%>
					for(let i = 0; i <obuttons.length; i++){
						if(allsong[i].flag == "Liked"){
							const thumbsup = obuttons[i].querySelector("svg");
				  			const thumbsdown = obuttons[i].parentElement.querySelector(".x").querySelector("svg");
				  			thumbsup.style.fill = "blue"
				  			thumbsdown.style.fill = "grey";
						}
						if(allsong[i].flag == "Disliked"){
							const thumbsup = obuttons[i].querySelector("svg");
				  			const thumbsdown = obuttons[i].parentElement.querySelector(".x").querySelector("svg");
				  			thumbsup.style.fill = "grey"
				  			thumbsdown.style.fill = "red";
						}
						if(allsong[i].flag == "null"){
							const thumbsup = obuttons[i].querySelector("svg");
				  			const thumbsdown = obuttons[i].parentElement.querySelector(".x").querySelector("svg");
				  			thumbsup.style.fill = "grey"
				  			thumbsdown.style.fill = "grey";
						}

					}


					for (let i = 0; i <obuttons.length; i++){
						obuttons[i].addEventListener("click", async function() {
							const thumbsup = obuttons[i].querySelector("svg");
				  			const thumbsdown = obuttons[i].parentElement.querySelector(".x").querySelector("svg");
				  			thumbsup.style.fill = (thumbsup.style.fill=="blue")?"grey":"blue";
				  			console.log(i);
				  			if(thumbsup.style.fill=="blue")
				  			{
				  				
				  				const thisSong = <%- JSON.stringify(music)%>//------------------------------------------------------------------------------------------------------------
				  				thisSong[i].flag = "Liked";
				  				const res = await fetch('http://localhost:8080/listener_main',{
								method:'POST',
								headers:{"Content-Type": 'application/json'},
								body: JSON.stringify(thisSong[i])						
								}).then(res => { console.log("Request complete! response:", res)});
				  			}
				  			if(thumbsup.style.fill=="grey")
				  			{
				  				
				  				const thisSong = <%- JSON.stringify(music)%>//------------------------------------------------------------------------------------------------------------
				  				thisSong[i].flag =  "null";
				  				const res = await fetch('http://localhost:8080/listener_main',{
								method:'POST',
								headers:{"Content-Type": 'application/json'},
								body: JSON.stringify(thisSong[i])						
								}).then(res => { console.log("Request complete! response:", res)});
				  			}	
				  			thumbsdown.style.fill = "grey";
						});
					}

					for (let i = 0; i <xbuttons.length; i++){
						xbuttons[i].addEventListener("click", async function() {
				  			const thumbsdown = xbuttons[i].querySelector("svg");
				  			const thumbsup = xbuttons[i].parentElement.querySelector(".o").querySelector("svg");
				  			thumbsup.style.fill = "grey";			  			
				  			thumbsdown.style.fill=(thumbsdown.style.fill=="red")?"grey":"red";
				  			if(thumbsdown.style.fill=="red")
				  			{
				  				
				  				const thisSong = <%- JSON.stringify(music)%>//------------------------------------------------------------------------------------------------------------
				  				thisSong[i].flag = "Disliked";
				  				const res = await fetch('http://localhost:8080/listener_main',{
								method:'POST',
								headers:{"Content-Type": 'application/json'},
								body: JSON.stringify(thisSong[i])						
								}).then(res => { console.log("Request complete! response:", res)});
				  			}
				  			if(thumbsdown.style.fill=="grey")
				  			{
				  				
				  				const thisSong = <%- JSON.stringify(music)%> //------------------------------------------------------------------------------------------------------------
				  				thisSong[i].flag = "null";
				  				const res = await fetch('http://localhost:8080/listener_main',{
								method:'POST',
								headers:{"Content-Type": 'application/json'},
								body: JSON.stringify(thisSong[i])						
								}).then(res => { console.log("Request complete! response:", res)});
				  			}
						});
					}

				}
				function validateForm() {
				  var x = document.forms["myForm"]["search"].value;
				  if (x == "" || x == null) {
				    alert("Please enter keywords.");
				    return false;
				  }
				}
				function song(){
					const songs = document.querySelectorAll(".category-contents>div");
					for(let i = 0; i < songs.length; i++){
						songs[i].addEventListener("click", function(){
							window.location.href='mck.mp3'
						});
					}
				}
		

			</script>
			</div>			
		</div>

	
	</main>

			<footer class = "foot_note">
			<footer>
                <table class="footer-table" style="text-align: inherit; margin: auto;">
                    <tr>
                        <td>
                            <figure class="footer-logo" style="padding-top: 10px;">
                                <img src="./asset/logo1.png" width="280px">
                                <figcaption style="margin-left: 60px; text-align: left;">Listen to Sadboi-101 FM!<br>
                                    Free music, radio podcasts about your favorite artist in RnB and lo-fi. </figcaption>
                            </figure>
                        </td>
                        
                   
                        <td>
                            <table style="margin: auto;">
                                <tr>
                                    <td style="font-size: large; text-align: center; margin: auto;">CONNECT</td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <table class="footer-connect">
                                            <tr>

                                                <td><a href="https://www.facebook.com/"><img class="connect-logo"
                                                            src="./asset/e_small_logo1.png"></a></td>
                                                <td><a href="https://www.twitter.com/"><img class="connect-logo"
                                                            src="./asset/e_small_logo2.png"></a></td>
                                                <td><a href="https://www.instagram.com/"><img class="connect-logo"
                                                            src="./asset/e_small_logo3.png"></a></td>
                                                <td><a href="https://www.youtube.com/"><img class="connect-logo"
                                                            src="./asset/e_small_logo4.png"></a></td>

                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; margin: auto;">© 2023 sadboi 101-FM</td>
                        <td>
                            <table class="footer-support-link">
                                <tr>
                                    <td>Help</td>
                                    <td>|</td>
                                    <td>Privacy Policy</td>
                                    <td>|</td>
                                    <td>Terms of Use</td>
                                    <td>|</td>
                                    <td>Mission</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </footer>			
			</footer>

	
</body>
</html>